<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>BeatFlow</span>

      <span style="flex: 1 1 auto;"></span>

      <button mat-icon-button (click)="abrirAdd()">
        <mat-icon>
          add
        </mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main>

  <!-- SCROLL NO SECTION, NÃO NO MAIN -->
  <section *ngIf="add">
    <mat-form-field appearance="outline" type="number">
      <mat-label>
        ID
      </mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" type="text">
      <mat-label>
        Título
      </mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" type="text">
      <mat-label>
        Artista
      </mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" type="text">
      <mat-label>
        Álbum
      </mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" type="number">
      <mat-label>
        Ano
      </mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" type="text">
      <mat-label>
        URL da música
      </mat-label>
      <input matInput>
    </mat-form-field>

    <button mat-flat-button>Adicionar</button>
  </section>

  <mat-divider *ngIf="add"></mat-divider>

  <mat-card *ngFor="let musica of musicas$ | async" (click)="abrirLinkMusica(musica.url)" matRipple>
    <!-- Passando o link da música como parametro para abri-la -->

    <!-- Comentário: usar o async caso esteja usando observable para puxar os valores -->
    <!-- Comentário: precisa importar o CommonModule pra poder usar o async aqui -->

    <mat-card-header>
      <mat-card-title>
        {{musica.id}} - {{musica.artist}}
      </mat-card-title>

      <mat-card-subtitle>
        {{musica.title}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{musica.album}} - {{musica.year}}
      </p>
    </mat-card-content>
  </mat-card>

</main>