<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <h3>BeatFlow</h3>

      <span style="flex: 1 1 auto;"></span>

      <button mat-icon-button (click)="abrirAdd()">
        <mat-icon>
          add
        </mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main>

  <!-- SCROLL NO SECTION, NÃO NO MAIN -->
  <section *ngIf="add">
    <mat-form-field appearance="outline" type="number">
      <mat-label>
        ID
      </mat-label>
      <input matInput [(ngModel)]="id" name="id">
      <!-- Comentário: usar ngModel para jogar o dado que foi digitado no input para a variavel do TS -->
      <!-- Comentário: usar name para evitar erro no forms -->
    </mat-form-field>

    <mat-form-field appearance="outline" type="text">
      <mat-label>
        Título*
      </mat-label>
      <input matInput [(ngModel)]="title" name="title">
    </mat-form-field>

    <mat-form-field appearance="outline" type="text">
      <mat-label>
        Artista*
      </mat-label>
      <input matInput [(ngModel)]="artist" name="artist">
    </mat-form-field>

    <mat-form-field appearance="outline" type="text">
      <mat-label>
        Álbum*
      </mat-label>
      <input matInput [(ngModel)]="album" name="album">
    </mat-form-field>

    <mat-form-field appearance="outline" type="number">
      <mat-label>
        Ano*
      </mat-label>
      <input matInput [(ngModel)]="year" name="year">
    </mat-form-field>

    <mat-form-field appearance="outline" type="text">
      <mat-label>
        URL da música*
      </mat-label>
      <input matInput [(ngModel)]="url" name="url">
    </mat-form-field>

    <button mat-flat-button (click)="cadastrarMusica()">Adicionar</button>
  </section>

  <mat-divider *ngIf="add"></mat-divider>

  <mat-card *ngFor="let musica of musicas$ | async" (click)="abrirLinkMusica(musica.url)" matRipple>
    <!-- Passando o link da música como parametro para abri-la -->

    <!-- Comentário: usar o async caso esteja usando observable para puxar os valores -->
    <!-- Comentário: precisa importar o CommonModule pra poder usar o async aqui -->

    <mat-card-header>
      <mat-card-title>
        <ng-container *ngIf="musica.id">
          {{ musica.id }} -
        </ng-container>
        {{ musica.artist }}
      </mat-card-title>


      <mat-card-subtitle>
        {{musica.title}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{musica.album}} - {{musica.year}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button>
        <!-- (click)="editarMusica(musica)" -->

        <!-- Comentário: Passará a musica clicada como parametro para a edição -->
        <mat-icon>
          edit
        </mat-icon>
      </button>
      <button mat-icon-button class="delete-btn">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</main>