:host {

    >header {
        >mat-toolbar {
            >mat-toolbar-row {
                background-color: #7F00FF;
            }
        }
    }

    >main {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
    }

    button {
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
        color: #FFFFFF;
        background-color: #FF4500;
        margin-right: 0.625rem;
    }

}